<ion-header>
  <ion-toolbar>
    <ion-title>Vote</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="container">
    <!-- <div ngFor="let obj of candidates"> -->
      <ion-card>
        <ion-card-content>
          <ion-grid fixed>
          <ion-row>
            <ion-col>Name: </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Position: </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Message: </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Total votes: </ion-col>
          </ion-row>
        </ion-grid>
        </ion-card-content>
      </ion-card>
    <!-- </div> -->
  

  <h2>Thanks for voting!!!</h2>
  </div>
  

</ion-content>
