<ion-header>
  <ion-toolbar>
    <ion-title>Vote</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="container">
   
  <ion-card>
    <ion-card-content>
        <ion-icon name="wine" slot="start"></ion-icon>
        Name
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Dolorem, adipisci necessitatibus! Fugiat amet rerum recusandae
        quidem suscipit ea! Atque consequatur vero quas similique 
        ducimus iure nobis consequuntur non, quis pariatur.
        <!-- <ion-img [src]="../assets/img/home.jfif"></ion-img> -->
    </ion-card-content>
  </ion-card>

  <h2>Thanks for voting!!!</h2>
  </div>
  

</ion-content>
