<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="election-candidates"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>Vote</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="container">
    <!-- <div ngFor="let obj of candidates"> -->
      <ion-card>
        <ion-card-content>
          <ion-grid fixed>
          <ion-row>
            <ion-col>Name: {{cand.name}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Position: {{cand.position}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Message: {{cand.message}}</ion-col>
          </ion-row>
          <!-- <ion-row aria-disabled="aria-disabled">
            <ion-col>Total votes: {{cand.votes}}</ion-col>
          </ion-row> -->
        </ion-grid>
        </ion-card-content>
      </ion-card>
    <!-- </div> -->
  

  <h2>Thanks for voting!!!</h2>
  </div>
  

</ion-content>
