
.ion-color-cold {
    --ion-color-base: var(--ion-color-cold);
    --ion-color-base-rgb: var(--ion-color-cold-rgb);
    --ion-color-contrast: var(--ion-color-cold-contrast);
    --ion-color-contrast-rgb: var(--ion-color-cold-contrast-rgb);
    --ion-color-shade: var(--ion-color-cold-shade);
    --ion-color-tint: var(--ion-color-cold-tint);
  }