<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="election-home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content>

  <div id="container">
    <img src="../../assets/img/voterX_transparent.png">

    <h3>Enter election pin</h3>
 
  <ion-input [(ngModel)]='pin' type="text" placeholder="PIN"></ion-input>

  <ion-button (click)="validatePin()" fill="solid" color="dark" size="large" shape="round" > <!-- (click)="onClick()" -->
    Submit
  </ion-button>

  </div>

</ion-content>
